# Cell Line Metadata

Table of the cell line names with the DepMap_ID, and the "cleaned" names (name all in capital and with no special characters).

  *  Read in-house RNA-seq dataset experiment

In [1]:
import os
import pandas as pd
import numpy as np
import collections

import cmapPy
import cmapPy.pandasGEXpress.parse as parse

In [2]:
print(os.getcwd())
# os.chdir("C:/Users/fuzan/Documents/code/cell_line_authen/Cell Line Authentification/Final pipeline/")
# print(os.getcwd())

C:\Users\fuzan\Documents\code\cell_line_authen\Cell Line Authentification\Final pipeline

In [3]:
# Files

# In-house RNA-seq dataset
query_expr_file = "./input_data/2022-02-10_heatmap_log2_TPM_r113153x1115.gctx"

# Read the sample_info containing the DepMap_ID and the cell line name
sample_info_file = "./input_data/sample_info.csv" 

# Read the metadata from Lab Guru to comapr sample and real cell line name
metadata_file = "./input_data/H202SC21053155 2021-05-25 next gen sequencing experiment annotations template - DS 5-25-2021_36 samples.csv"

## Read in-house RNA-seq dataset experiment

In [4]:
# Read in-house RNA seq dataset 

query_expr_gctx = parse.parse(query_expr_file)
query_expr = query_expr_gctx.data_df

print(query_expr.shape)
query_expr.head()

(113153, 1115)

cid,H101SC20021233_2_ASKA_1,H101SC20021233_2_ASKA_10,H101SC20021233_2_ASKA_11,H101SC20021233_2_ASKA_12,H101SC20021233_2_ASKA_2,H101SC20021233_2_ASKA_3,H101SC20021233_2_ASKA_4,H101SC20021233_2_ASKA_5,H101SC20021233_2_ASKA_6,H101SC20021233_2_ASKA_7,...,PH-FTX-IVP-2021-006-007_G7_38,PH-FTX-IVP-2021-006-007_G7_40,PH-FTX-IVP-2021-006-007_G7_44,PH-FTX-IVP-2021-006-007_G7_51,PH-FTX-IVP-2021-006-007_G8_18,PH-FTX-IVP-2021-006-007_G8_27,PH-FTX-IVP-2021-006-007_G8_29,PH-FTX-IVP-2021-006-007_G8_56,PH-FTX-IVP-2021-006-007_G8_7,PH-FTX-IVP-2021-006-007_G8_9
rid,,,,,,,,,,,,,,,,,,,,,
ENSG00000000003,3.573865,3.354822,3.463820,3.409673,3.644708,3.641184,3.584009,3.544834,3.614835,3.391639,...,2.226621,3.079372,3.073363,2.472898,2.017262,1.918629,2.996959,3.037888,1.941835,3.264794
ENSG00000000005,-3.470722,-3.938031,-3.960276,-3.923771,-4.029152,-4.060926,-3.977351,-3.997794,-3.992024,-3.971337,...,-3.181395,-2.822084,-2.659540,-2.784278,-2.633618,-2.571648,-2.848423,-2.607749,-2.545574,-2.682902
ENSG00000000419,6.481495,6.424484,6.413052,6.470856,6.425018,6.438981,6.470403,6.351199,6.459817,6.557379,...,6.051025,5.993428,6.074045,5.800958,5.759847,5.817563,6.176519,6.081125,5.945285,5.865779
ENSG00000000457,1.574731,1.762096,1.659323,1.607489,1.319769,1.298866,1.528153,1.322604,1.440083,1.560199,...,2.447656,2.408158,2.475372,2.931849,3.037073,3.194029,2.400180,2.761051,3.333862,2.629969
ENSG00000000460,1.742566,1.869973,1.839150,1.854894,1.671424,1.664413,1.752028,1.614235,1.690203,1.704259,...,2.249911,2.444569,2.470564,2.858309,2.664449,2.899413,2.181866,2.492191,2.873590,2.520076

In [5]:
# Remove ENSMUSG (mouse) genes
query_expr = query_expr[query_expr.index.str.contains("ENSMUSG")==False]

print(query_expr.shape)
query_expr.head()

(57771, 1115)

cid,H101SC20021233_2_ASKA_1,H101SC20021233_2_ASKA_10,H101SC20021233_2_ASKA_11,H101SC20021233_2_ASKA_12,H101SC20021233_2_ASKA_2,H101SC20021233_2_ASKA_3,H101SC20021233_2_ASKA_4,H101SC20021233_2_ASKA_5,H101SC20021233_2_ASKA_6,H101SC20021233_2_ASKA_7,...,PH-FTX-IVP-2021-006-007_G7_38,PH-FTX-IVP-2021-006-007_G7_40,PH-FTX-IVP-2021-006-007_G7_44,PH-FTX-IVP-2021-006-007_G7_51,PH-FTX-IVP-2021-006-007_G8_18,PH-FTX-IVP-2021-006-007_G8_27,PH-FTX-IVP-2021-006-007_G8_29,PH-FTX-IVP-2021-006-007_G8_56,PH-FTX-IVP-2021-006-007_G8_7,PH-FTX-IVP-2021-006-007_G8_9
rid,,,,,,,,,,,,,,,,,,,,,
ENSG00000000003,3.573865,3.354822,3.463820,3.409673,3.644708,3.641184,3.584009,3.544834,3.614835,3.391639,...,2.226621,3.079372,3.073363,2.472898,2.017262,1.918629,2.996959,3.037888,1.941835,3.264794
ENSG00000000005,-3.470722,-3.938031,-3.960276,-3.923771,-4.029152,-4.060926,-3.977351,-3.997794,-3.992024,-3.971337,...,-3.181395,-2.822084,-2.659540,-2.784278,-2.633618,-2.571648,-2.848423,-2.607749,-2.545574,-2.682902
ENSG00000000419,6.481495,6.424484,6.413052,6.470856,6.425018,6.438981,6.470403,6.351199,6.459817,6.557379,...,6.051025,5.993428,6.074045,5.800958,5.759847,5.817563,6.176519,6.081125,5.945285,5.865779
ENSG00000000457,1.574731,1.762096,1.659323,1.607489,1.319769,1.298866,1.528153,1.322604,1.440083,1.560199,...,2.447656,2.408158,2.475372,2.931849,3.037073,3.194029,2.400180,2.761051,3.333862,2.629969
ENSG00000000460,1.742566,1.869973,1.839150,1.854894,1.671424,1.664413,1.752028,1.614235,1.690203,1.704259,...,2.249911,2.444569,2.470564,2.858309,2.664449,2.899413,2.181866,2.492191,2.873590,2.520076

In [6]:
# Check for NAs in index
print('NAs in the indexes: ', collections.Counter(list(query_expr.index.isna())))

# Check for NAs in columns
print('NAs in the columns: ', collections.Counter(list(query_expr.columns.isna())))

# Check for NaN in DataFrame
print('NAs in DataFrame: ', query_expr.isnull().sum().sum())

# View columns with all NAs (Mouse samples) if any
NA_col_query_expr = collections.Counter(query_expr.isnull().all())
if NA_col_query_expr[True] ==0:
    print("There is no columns with only NAs in the Dataframe.")
else:
    print('There is', NA_col_query_expr[True] , 'columns with only NAs in this Dataframe.')
    NA_samples = list(query_expr[query_expr.columns[query_expr.isnull().all()]].columns)
    print('Names of columns/samples with all NAs in DataFrame: \n', NA_samples)
    # Drop columns with all NAs in query_expr
    query_expr = query_expr.dropna(axis='columns')

# Sanity check
print('New # of NAs in DataFrame: ', query_expr.isnull().sum().sum())

NAs in the indexes:  Counter({False: 57771})
NAs in the columns:  Counter({False: 1115})
NAs in DataFrame:  693252
There is 12 columns with only NAs in this Dataframe.
Names of columns/samples with all NAs in DataFrame:
 ['H202SC20082867_DMSO_1', 'H202SC20082867_DMSO_2', 'H202SC20082867_F034_11', 'H202SC20082867_F034_12', 'H202SC20082867_F034_21', 'H202SC20082867_F034_22', 'H202SC20082867_F2256_11', 'H202SC20082867_F2256_12', 'H202SC20082867_F2256_21', 'H202SC20082867_F2256_22', 'H202SC20082867_F4472_21', 'H202SC20082867_F4472_22']
New # of NAs in DataFrame:  0

In [7]:
# Save file to csv
query_expr.to_csv('input_data/query_expr.csv')

## Add cell line name to the sample name

In [8]:
# Read the metadata from 10_heatmap_log2_TPM_r113153x1115.gctx to compare the cell line sample 
# and the cell line with the highest correlation

metadata = pd.DataFrame(query_expr_gctx.col_metadata_df['bio_context_id'])
metadata.index.name = "sample"
metadata.drop(NA_samples, inplace= True) # Drop the samples with all NAs samples (Mouse samples)
metadata.reset_index(inplace=True)

print(metadata.shape)
metadata.head()

(1103, 2)

                     sample bio_context_id
0   H101SC20021233_2_ASKA_1           ASKA
1  H101SC20021233_2_ASKA_10           ASKA
2  H101SC20021233_2_ASKA_11           ASKA
3  H101SC20021233_2_ASKA_12           ASKA
4   H101SC20021233_2_ASKA_2           ASKA

In [9]:
# Check for NAs in index
print('NAs in the indexes: ', collections.Counter(list(metadata.index.isna())))

# Check for NAs in columns
print('NAs in the columns: ', collections.Counter(list(metadata.columns.isna())))

# Check for NaN in DataFrame
print('NAs in DataFrame: ', metadata.isnull().sum().sum())

# View samples with no annotation if any
sample_wth_no_annot = [sample for sample, row in metadata.iterrows() if row.isnull().any()]
if sample_wth_no_annot==[]:
    print('All samples have an annotation.')
else:
    print('Samples with no annotation: \n', sample_wth_no_annot)
    # Replace samples with no annotation by 'NoAnnotation' in metadata if NAs
    metadata.fillna('NOANNOTATION', inplace=True)

# Sanity Check
print('New # of NAs in DataFrame: ', metadata.isnull().sum().sum())
print('Dim of the DataFrame: ', metadata.shape)

NAs in the indexes:  Counter({False: 1103})
NAs in the columns:  Counter({False: 2})
NAs in DataFrame:  34
Samples with no annotation:
 [225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258]
New # of NAs in DataFrame:  0
Dim of the DataFrame:  (1103, 2)

## Add "cleaned" cell line name

In [10]:
metadata["cleaned_bio_context_id"] = metadata["bio_context_id"] 
# 1) force all names to be uppercase 
metadata["cleaned_bio_context_id"] = metadata["cleaned_bio_context_id"].str.upper()
# 2) remove all special characters before comparing
metadata["cleaned_bio_context_id"] = metadata["cleaned_bio_context_id"].str.replace('[^A-Za-z0-9]+','')
# 3) remove LabGuru_cleaned_annot_cl
metadata["cleaned_bio_context_id"] = metadata["cleaned_bio_context_id"].str.replace('NCI','')

print(metadata.shape)
metadata.head()

(1103, 3)

C:\Users\fuzan\Miniconda3\envs\compbio\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

                     sample bio_context_id cleaned_bio_context_id
0   H101SC20021233_2_ASKA_1           ASKA                   ASKA
1  H101SC20021233_2_ASKA_10           ASKA                   ASKA
2  H101SC20021233_2_ASKA_11           ASKA                   ASKA
3  H101SC20021233_2_ASKA_12           ASKA                   ASKA
4   H101SC20021233_2_ASKA_2           ASKA                   ASKA

## Add DepMap_ID

In [11]:
sample_info = pd.read_csv(sample_info_file)
# sample_info.set_index(['DepMap_ID'], inplace=True)
sample_info = sample_info[['DepMap_ID', 'stripped_cell_line_name']]

print(sample_info.shape)
sample_info.head()

(1825, 2)

    DepMap_ID stripped_cell_line_name
0  ACH-000001               NIHOVCAR3
1  ACH-000002                    HL60
2  ACH-000003                   CACO2
3  ACH-000004                     HEL
4  ACH-000005                 HEL9217

In [12]:
# Check for NAs in index
print('NAs in the DepMap_ID indexes: ', collections.Counter(list(sample_info.index.isna())))

# Check for NAs in columns
print('NAs in the columns: ', collections.Counter(list(sample_info.columns.isna())))

# Check for NaN in DataFrame
print('NAs in DataFrame: ', sample_info.isnull().sum().sum())

# Subset rows with NAs
print('Row(s) with NA: \n', sample_info[sample_info.isnull().any(axis=1)])

# Drop NAs
sample_info.dropna(subset = ["stripped_cell_line_name"], inplace=True)

# Sanity Check
print('New # of NAs in DataFrame: ', sample_info.isnull().sum().sum())
print('Dim of the DataFrame: ',sample_info.shape)

NAs in the DepMap_ID indexes:  Counter({False: 1825})
NAs in the columns:  Counter({False: 2})
NAs in DataFrame:  1
Row(s) with NA:
        DepMap_ID stripped_cell_line_name
1674  ACH-002260                     NaN
New # of NAs in DataFrame:  0
Dim of the DataFrame:  (1824, 2)

In [13]:
sample_info["cleaned_stripped_cell_line_name"] = sample_info["stripped_cell_line_name"] 

# 1) force all names to be uppercase 
sample_info["cleaned_stripped_cell_line_name"] = sample_info["cleaned_stripped_cell_line_name"].str.upper()
# 2) remove all special characters before comparing
sample_info["cleaned_stripped_cell_line_name"] = sample_info["cleaned_stripped_cell_line_name"].str.replace('[^A-Za-z0-9]+','')
# 3) remove NCI
sample_info["cleaned_stripped_cell_line_name"] = sample_info["cleaned_stripped_cell_line_name"].str.replace('NCI','')

print(sample_info.shape)
sample_info.head()

(1824, 3)

C:\Users\fuzan\Miniconda3\envs\compbio\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

    DepMap_ID stripped_cell_line_name cleaned_stripped_cell_line_name
0  ACH-000001               NIHOVCAR3                       NIHOVCAR3
1  ACH-000002                    HL60                            HL60
2  ACH-000003                   CACO2                           CACO2
3  ACH-000004                     HEL                             HEL
4  ACH-000005                 HEL9217                         HEL9217

In [14]:
sample_df = metadata.merge(sample_info, how='left', left_on='cleaned_bio_context_id', right_on='cleaned_stripped_cell_line_name').drop('cleaned_stripped_cell_line_name',1)

print(sample_df.shape)
sample_df.tail()

(1103, 5)

C:\Users\fuzan\Miniconda3\envs\compbio\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,sample,bio_context_id,cleaned_bio_context_id,DepMap_ID,stripped_cell_line_name
1098,PH-FTX-IVP-2021-006-007_G8_27,22RV1,22RV1,ACH-000956,22RV1
1099,PH-FTX-IVP-2021-006-007_G8_29,LNCaP,LNCAP,NaN,NaN
1100,PH-FTX-IVP-2021-006-007_G8_56,LNCaP,LNCAP,NaN,NaN
1101,PH-FTX-IVP-2021-006-007_G8_7,22RV1,22RV1,ACH-000956,22RV1
1102,PH-FTX-IVP-2021-006-007_G8_9,LNCaP,LNCAP,NaN,NaN

In [15]:
sample_df.loc[sample_df["stripped_cell_line_name"].isin(['22RV1', 'MV411'])]

,sample,bio_context_id,cleaned_bio_context_id,DepMap_ID,stripped_cell_line_name
59,H202SC20082729_G12M41,MV-4-11,MV411,ACH-000045,MV411
60,H202SC20082729_G12M42,MV-4-11,MV411,ACH-000045,MV411
61,H202SC20082729_G12M43,MV-4-11,MV411,ACH-000045,MV411
62,H202SC20082729_G12M44,MV-4-11,MV411,ACH-000045,MV411
63,H202SC20082729_G14M49,MV-4-11,MV411,ACH-000045,MV411
...,...,...,...,...,...
1093,PH-FTX-IVP-2021-006-007_G7_38,22RV1,22RV1,ACH-000956,22RV1
1096,PH-FTX-IVP-2021-006-007_G7_51,22RV1,22RV1,ACH-000956,22RV1
1097,PH-FTX-IVP-2021-006-007_G8_18,22RV1,22RV1,ACH-000956,22RV1
1098,PH-FTX-IVP-2021-006-007_G8_27,22RV1,22RV1,ACH-000956,22RV1
1101,PH-FTX-IVP-2021-006-007_G8_7,22RV1,22RV1,ACH-000956,22RV1

#### Save metadata to csv table

In [16]:
# Save table to csv
sample_df.to_csv('input_data/sample_df.csv')